.video-message {
  position: relative;
  .video-box {
    height: 220px;
    width: 300px;
    max-width: 60vw;
    /* prettier-ignore */
    border-radius: 10Px;
  }
  .video-play {
    width: 90px;
    height: 90px;
    color: #ffffff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
