.im-emoji {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  margin-left: 4vw;
  .im-emoji-image {
    width: 9vw;
    height: 9vw;
    margin: 2vw;
    & > image {
      width: 100%;
      height: 100%;
    }
  }
}
